


.MuiCardContent-root img.hero_image {
  border-radius: 50%;
  border-style: solid;
  border: 5px double #F3F7F0;
  object-fit: contain;
  padding: 0.1rem;
  width: 6rem;
}
.MuiCardContent-root img.hero_image:hover {
  border: 5px double #F84982;

}
.MuiCard-root:hover {
  text-align: center;
  color: #E0E2DB;
  transform: scale(1.1);
  transition: transform .4s ease;
  
}